<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Ajava_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>deleteCustomer</servlet-name>
    <servlet-class>prostore.controller.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCustomer</servlet-name>
    <url-pattern>/delete-customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatecustomer</servlet-name>
    <servlet-class>prostore.controller.UpdateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecustomer</servlet-name>
    <url-pattern>/update-customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCustomer</servlet-name>
    <servlet-class>prostore.controller.Add_Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCustomer</servlet-name>
    <url-pattern>/add-customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createCustomer</servlet-name>
    <servlet-class>prostore.controller.CreateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createCustomer</servlet-name>
    <url-pattern>/handle-customer</url-pattern>
  </servlet-mapping>
</web-app>